.card {
  box-sizing: border-box;
  padding: 2em;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  box-shadow: 5px 5px 10px #ccc;
  float: left;
  margin-right: 1em;
}

label {
  font-family: "Pacifica", cursive;
  font-size: large;
}

li {
  font-family: "Pacifica", cursive;
  font-size: large;
}
